{% extends "_fosas_base.html" %}

{% block content %}
<section id="intro-video">
  <div class="video-wrapper">
    <iframe src="//player.vimeo.com/video/{{ introduccion.vimeo_id_intro.value|int|string }}?&amp;autoplay=1&amp;loop=1" frameborder="0"></iframe>
  </div>
</section>
<section id="intro">
  <div class="container">
    <h1 class="text-center"><img src="img/mas72.jpg" /></h1>
    <div class="row-fluid">
      <div class="col-md-8 col-md-offset-2">
        {{ read_file("_docs/intro.md")|markdown }}
      </div>
    </div>
  </div>
</section>
<section id="buttons">
  <div class="container">
    <div class="col-md-4">
      <a href="{{ introduccion.button1_link.value }}">
        <h2>{{ introduccion.button1_title.value }}</h2>
        <img class="img-responsive" src="img/screenshot-ruta.png" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ introduccion.button2_link.value }}">
        <h2>{{ introduccion.button2_title.value }}</h2>
        <img class="img-responsive" src="img/screenshot-masacre.png" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ introduccion.button3_link.value }}">
        <h2>{{ introduccion.button3_title.value }}</h2>
        <img class="img-responsive" src="img/screenshot-mapa.png" />
      </a>
    </div>
  </div>
</section>


{% endblock content %}

